<!DOCTYPE>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/img/logo.png" sizes="32x32" />
		<link rel = "stylesheet" href = "/css/bootstrap.css">
		<link rel = "stylesheet" href = "/css/font-awesome.min.css">
		<link rel = "stylesheet" href = "/css/style.css">
		
		<script src = "/js/jquery-3.3.1.js"></script>
		<script src = "/js/bootstrap.js"></script>
		<script src = "/js/custom.js"></script>
		<title>KitchenSyncIP</title>
	</head>
	<body>
		<!-- message show begin -->
		<div class = "alert alert-danger position-fixed" style = "display : none">

		</div>
		<div class = "alert alert-success position-fixed" style = "display : none">

		</div>
		<!-- message show end -->
		<!-- navigation begin -->
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class = "container">
			  	<a class="navbar-brand" href="/">
			  		<img class = "logoimg" src = "/img/logoimg.png">
			  	</a>
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
				      	<li class="nav-item">
				        	<a class="nav-link" href="/user-profile">Profile </a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link active" href="/forum">Threads/Forum</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="/config">Config</a>
				      	</li>
				      	{{?it.user}}
			      		{{?it.user['roleid']==1}}
				      	<li class="nav-item">
				        	<a class="nav-link" href="/admin">Admin</a>
				      	</li>
				      	{{?}}
				      	{{?}}
			    	</ul>
			    	{{?it.user==undefined}}
			    	<a class="nav-link" href = "/login">Sign in</a>
			    	<a class="nav-link" href = "/signup">Sign up</a>
			    	{{??}}
			    	<a class="nav-link" href = "/logout">Sign out</a>
			    	{{?}}
			  	</div>
		  	</div>
		</nav>
		<!-- navigation end -->
		
<!-- content begin-->
		<section class = "full-height-bg py-3">
			
			<div class = "container">
				<nav aria-label="breadcrumb">
				  	<ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="/forum">Forum</a></li>
				 	</ol>
				</nav>
				<div class = "row pt-5">
					<div class = "col-12 col-md-4">
						<div class = "input-group mb-3">
							<input class = "form-control" placeholder="Search..." name = "searchkey" value = "{{=it.searchkey}}">
							<div class = "input-group-append">
								<button  class = "btn btn-outline-secondary" onclick = "goSearchKeyword()"><span class = "fa fa-search"></span></button>
							</div>
						</div>
					</div>
					<div class = "col-12 col-md-4 text-center">
						<div class = "btn-group mb-3">
							<button class = "btn btn-outline-secondary" onclick = "goFirst()">&lt;&lt;</button>
							<button class = "btn btn-outline-secondary" onclick = "goPrev()">&lt;</button>
							<button id = "paginationInfo" class = "btn btn-outline-secondary" disabled data-count = "{{=it.counts}}" data-base = "forum">{{=it.offset}}</button>
							<button class = "btn btn-outline-secondary" onclick = "goNext()">&gt;</button>
							<button class = "btn btn-outline-secondary" onclick = "goLast()">&gt;&gt;</button>
						</div>
					</div>
					<div class = "col-12 col-md-4">
						<button class = "btn btn-dark width-full" onclick="createNewThread()" {{?it.user==undefined}}disabled{{??}}enabled{{?}}>Create New Thread</button>
					</div>
				</div>
				<div class = "row mt-4">
					{{~it.threads : threadone : i}}
					<div class = "col-12 ">
						<div class="card mb-3">
						  	<div class="card-header container-fluid">
						  		<div class = "row">
						  			<div class = "col-12 col-md-6">
								  		<img class = "forum-icon" src = "{{?threadone['photo']}}{{=threadone['photo']}}{{??}}/img/default-user.png{{?}}">{{=threadone['username']}}&nbsp;<span class = "text-secondary">updated at&nbsp;{{=threadone['updated_at'].slice(0 , 16).replace("T" , " ")}}</span>
								  	</div>
								  	<div class = "col-12 col-md-6">
								  		{{~threadone['keywords'] : keyword : j}}
								  		<span class = "keyword">{{=keyword}}</span>
								  		{{~}}
								  	</div>
							  	</div>	
						  	</div>
						  	<div class="card-body">
						    	<h5 class="card-title"><a href = "/forum/show/{{=threadone['id']}}" class="{{?threadone['status']!=0}}text-gray{{?}}">{{=threadone['title']}}{{?threadone['status']!=0}}(Closed){{?}}</a>{{?threadone['isprivate']}}<span class = "font-weight-bold float-right">Private</span>{{?}}</h5>
						    	<p class="card-text forum">{{=threadone['content']}}</p>
						  	</div>
						</div>

					</div>
					{{~}}
					
				</div>
			</div>
		</section>
<!-- content end -->
		<footer class = "pt-5">
			<div class = "container pb-3">
				<div class = "row">
					<div class = "col-12 col-md-6">
						<h5 class = "text-gray">About</h5>
						<small class = "text-gray">KitchenSyncIP is a PC based room control system. Creating Better User Experiences Using a Dedicated Computer. Audio Visual Controls Simplified for Everyday PC-Based Use Cases</small>
					</div>
				</div>
			</div>
			<div class = "border-top pt-3  pb-3">
				<div  class = "container">
					<small class = "text-gray">
						© 2018 KitchenSyncIP.
					</small>
				</div>
			</div>
		</footer>
	</body>
</html>